.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    grid-column: 1;
    grid-row: 1;
}

.navbar {
    grid-column: 4;
    grid-row: 1;
}

.page {
    grid-column: 1 / 4;
    grid-row: 2 / 10;
}